{% extends "base.html.twig" %}

{% block title %}Hjem{% endblock %}

{% block body %}
<h1>Velg rapport</h1>
{% for year in 2015..now|date('Y') %}
<p>
  <a href="{{ url('UKMeco_report_year', {'year': year}) }}" class="btn btn-primary">{{ year }}</a>
</p>
{% endfor %}
{% endblock %}
