{% extends "base.html.twig" %}

{% block title %}Hjem{% endblock %}

{% block body %}
	{% if budgetGroups|length > 0 %}

		{% embed "UKMecoBundle:Report:year_summary.html.twig" %}{% endembed %}
		
		{% embed "UKMecoBundle:Report:year_overview.html.twig" %}{% endembed %}
		
		<div class="page-break"></div>
		{% embed "UKMecoBundle:Report:projects_overview.html.twig" %}{% endembed %}
		
		<div class="page-break"></div>
		{% embed "UKMecoBundle:Report:project_details.html.twig" %}{% endembed %}
		
		<div class="page-break"></div>
		{% embed "UKMecoBundle:Report:transactions.html.twig" %}{% endembed %}
	{% else %}
		<div class="alert alert-info">
			Det er ikke lagt til noen formål enda. 
		</div>
	{% endif %}
{% endblock %}