{% for item in menu %}
<li class="col-xs-6 col-sm-3 {{class_li}}">
	<div class="" align="center">
		<a href="{{ item.path }}">
			<div class="icon">
				<img src="{{ item.icon }}" />
			</div>
			<div class="link">
				{{ item.title }}
			</div>
		</a>
	</div>
</li>
{% endfor %}