<div class="pull-right col-xs-3" style="margin-top:5px">
	<form action="{{ url('UKMeco_search') }}" method="POST">
		<div class="input-group">
			<input type="text" id="search" name="search" class="form-control input-sm" placeholder="Søk..." />
			<span class="input-group-btn">
				<button class="btn btn-primary btn-sm" type="submit">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</span>
		</div>
	</form>
</div>